<div class="py-4 px-5 border rounded flex flex-col mb-2 shadow-xl w-100 h-52 justify-between">
  <span class="text-blue-600 text-sm text-right">id: {{product.id}}</span>
  <h2 class="mb-4 mt-2 text-lg text-center font-bold">{{product.title}}</h2>
  <div>
    <p class="text-gray-600 text-sm flex items-center gap-2 mb-1"><span nz-icon nzType="tag" nzTheme="outline"></span> <span class="text-blue-600 font-bold">{{product.type}}</span></p>
    <p class="text-gray-600 text-sm mb-0">Category: <span class="font-bold text-blue-600">{{ product.category }}</span></p>
  </div>
</div>
