
<div
  *ngIf="loading" class="flex justify-center h-full items-center">
  <span class="text-3xl" nz-icon [nzType]="'loading'" [nzSpin]="true"></span>
</div>

<div [@fadeInOut]="loading ? 'open' : 'close'">
  <div class="flex justify-between items-center w-full mt-0 mb-5 flex-col gap-2 sm:flex-row sm:mt-10">
    <input
      type="text"
      class="px-4 py-2 w-full border rounded-md font-[Roboto] sm:w-1/2"
      placeholder="Search client"
      [(ngModel)]="term"
    />
    <button
      type="button"
      class="px-6 py-2 rounded-md border bg-blue-800 border-blue-800 shadow-lg text-white text-base font-[Roboto] hover:bg-white hover:text-blue-800 ease-in duration-100"
      (click)="modalService.openCreate()"
    >Add Document</button>
  </div>


    <table *ngIf="clients$ | async as clients" class="w-full shadow-md rounded p-10 mt-0 font-[Roboto]">
      <thead class="bg-blue-50">
        <tr>
          <th
          *ngFor="let header of headers"
          [ngClass]="{'text-blue-600' : selectedHeader===header.title && selectedOrder!=='none'}"
          (click)="useSelector(header.title)"
          [appSort]="clients"
          data-order="none"
          [class]="header.width"
          class="p-2 text-left font-bold capitalize cursor-pointer sm:p-4"
          [attr.data-name]="header.title"
          >{{header.title}}
          <span
          *ngIf="selectedHeader===header.title && selectedOrder==='desc'"
          class="relative top-[-3px]"
          nz-icon nzType="arrow-up"
          nzTheme="outline">
        </span>
        <span
        *ngIf="selectedHeader===header.title && selectedOrder==='asc'"
        class="relative top-[-3px]"
        nz-icon
        nzType="arrow-down"
        nzTheme="outline">
            </span>
          </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-300">
      <tr *ngFor="let client of clients | searchClient : term">
        <th class="px-2 py-4 text-left sm:p-4">{{ client.client }}</th>
        <td *ngIf="client.date" class="px-2 py-4 text-left sm:p-4">{{ client.date.seconds*1000 | date }}</td>
        <td class="px-2 py-4 text-left sm:p-4">{{ client.amount | currency: 'EUR' }}</td>
        <td class="px-2 py-4 text-left sm:p-4">{{ client.notice }}</td>
        <td class="px-2 py-4 text-left relative w-full flex sm:p-4">
          <div class="flex gap-2 flex-col sm:flex-row sm:gap-5">
            <button
              class="text-blue-600"
              type="button"
              (click)="modalService.openEdit(); documentsService.selectedDocument(client)"
              >
              <span  nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
            <button
              *ngIf="client.id"
              class="text-red-500"
              type="button"
              (click)="modalService.openDelete(); documentsService.selectedDocument(client)"
              >
                <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </div>
        </td>

      </tr>
    </tbody>
  </table>
</div>
