<input
type="text"
class="px-4 py-2 w-11/12 border m-10 mb-5 rounded-md"
placeholder="Search client"
[(ngModel)]="term"
/>

<table class="w-11/12 shadow-md rounded m-10 mt-0">
  <thead class="bg-blue-50">
    <tr >
      <th [appSort]="clients" data-order="desc" class="p-4 text-left font-bold w-1/5" data-name="client">Client</th>
      <th [appSort]="clients" data-order="desc" class="p-4 text-left font-bold w-1/5" data-name="date" data-type="date">Date</th>
      <th [appSort]="clients" data-order="desc" class="p-4 text-left font-bold w-1/5" data-name="amount">Amount</th>
      <th [appSort]="clients" data-order="desc" class="p-4 text-left font-bold w-2/5" data-name="notice">Notice</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-300" *ngIf="clients as clientss">
    <tr *ngFor="let client of clientss | searchClient : term">
      <th class="p-4 text-left">{{ client.client }}</th>
      <td class="p-4 text-left">{{ client.date | date }}</td>
      <td class="p-4 text-left">{{ client.amount | currency: 'EUR' }}</td>
      <td class="p-4 text-left relative w-full flex">{{ client.notice }}
        <div class="absolute top-3 right-5">
          <button type="button">Edit</button>
          <button type="button">Delete</button>
        </div>
      </td>

    </tr>
  </tbody>
</table>
