<nav class="h-full text-gray-900 border-r border-gray-100 pr-10">
  <span class="text-gray-900 flex flex-col gap-2 py-10 ">
    <a routerLink="" class="font-bold text-xl font-['Roboto'] text-gray-600" routerLinkActive="text-blue-800" [routerLinkActiveOptions]="{exact:
      true}">Welcome</a>
    <a routerLink="/products" class="font-bold text-xl font-['Roboto'] text-gray-600" routerLinkActive="text-blue-800" >Products</a>
    <a routerLink="/documents" class="font-bold text-xl font-['Roboto'] text-gray-600" routerLinkActive="text-blue-800" >Documents</a>
  </span>
</nav>
